@import '../../../theme/fonts';
page-post {
    ion-header {
        ion-toolbar {
            text-align: center;
            font-size: 19px;
            min-height: 0 !important;
            padding-top: 2px !important;
            padding-bottom: 2px !important;

            .toolbar-background {
                background: black;
            }
        }

        ion-navbar {
            button {
                color: white;
                font-weight: 600;
                background: transparent;
                font-size: 23px;

                &.logo-btn {
                    float: right;
                }

                &.noti-btn {
                    margin-right: 5px;
                }
            }
        }
    }

    ion-content {
        .ion-list {
            padding: 0 12px;

            &.modal-popup {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: #00000040;
                z-index: 200;
            }

            ion-label {
                h2 {
                    color: #e55725;
                }
            }

            ion-card {
                background: transparent;

                ion-item {
                    background-color: transparent;
                }
            }
        }
    }
}
