<ion-tabs selectedIndex="2">
  <ion-tab [tabsHideOnSubPages]="false" [root]="tab1Root" tabIcon="custom-activity"></ion-tab>
  <ion-tab [tabsHideOnSubPages]="false" [root]="tab2Root" tabIcon="custom-calendar1"></ion-tab>
  <ion-tab [tabsHideOnSubPages]="false" [root]="tab3Root" tabIcon="custom-discover"></ion-tab>
  <ion-tab [tabsHideOnSubPages]="false" [root]="tab4Root" tabIcon="custom-messages"></ion-tab>
  <ion-tab [tabsHideOnSubPages]="false" [root]="tab5Root" [rootParams]="data_5" tabIcon="custom-profile"></ion-tab>
</ion-tabs>
