page-event-detail {
    ion-header {
        .skip-btn {
            color: white;
            font-weight: 600;
            background: transparent;
            font-size: 23px;
            float: right;
        }

        ion-toolbar {
            text-align: center;
            font-size: 19px;
            min-height: 0 !important;
            padding-top: 2px !important;
            padding-bottom: 2px !important;

            .toolbar-background {
                background: black;
            }
        }
    }

    ion-content {
        .scroll-content {
            padding: 0px !important;

            .description {
                color: #999999 !important;
                padding: 0 8px;

                p {
                    font-size: 12px;
                    margin: 0;

                    &.unexpanded {
                        overflow: hidden;
                        line-height: 15px;
                        height: 60px;
                    }
                }

                .expand {
                    text-align: right;
                    margin-bottom: 20px;
                    font-size: 11px;
                    margin-top: 5px;
                }
    
                .join-to-group {
                    height: 32px;
                    border-radius: 0;
                }

                .highlight {
                    list-style: none;
                    padding-left: 0;
                    font-size: 11px;

                    li {
                        margin-bottom: 7px;
                        display: flex;
                        align-items: center;

                        span {
                            letter-spacing: 0;
                        }

                        ion-icon {
                            font-size: 25px;
                            width: 25px;
                        }

                        &.main-tag {

                            div {
                                display: grid;
                                padding-left: 10px;

                                span {
                                    font-size: 17px;
                                    font-weight: bold;

                                    &.sub-info {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }

                        &.sub-tag {
                            margin-top: 10px;

                            div {
                                width: 100%;

                                span {
                                    padding-left: 10px;

                                    &.sub-info {
                                        float: right;
                                        padding: 0;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .profile-avatar {
                border-bottom: none !important;
                border-top: none !important;
                padding-left: 8px;

                img {
                    width: 80px;
                    height: 60px;
                }
                
                p {
                    font-size: 11px;
                }

                ion-label {
                    display: flex;
                }

                p,.location {
                    font-size: 10px;

                    ion-icon {
                        margin-right: 5px;
                    }
                }
            }

            .btn-wrapper {
                text-align: right;
                margin-bottom: 20px;

                .addMediaBtn {
                    height: 25px;
                    font-size: 11px;
                    font-weight: bold;
                    background: #999999;
                    color: black;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-right: 10px;

                    ion-icon {
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }

            .slide-wrapper {
                height: 250px;

                .desc-wrapper {
                    position: absolute;
                    bottom: 27px;
                    width: 100%;

                    p {
                        margin-bottom: 0;
                        font-size: 11px;
                        font-weight: bold;
                    }

                    h2 {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
