<ion-content padding>
  <video #player playsinline autoplay muted loop>
    <source src="assets/imgs/background-video.mp4" type="video/mp4">
  </video>
  <div></div>
  <div class="title-wrapper">
    <div class="title">
      <h1>
        Discover new
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit onec at elementum
      </p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <button ion-button icon-start block color="primary" tappable (click)="gotoLogin()">
    SIGN IN
  </button>

  <button ion-button icon-start block color="grey" tappable (click)="gotoSignUp()">
    SIGN UP
  </button>
</ion-footer>
