page-media-detail {
    ion-header {
        .skip-btn {
            color: white;
            font-weight: 600;
            background: transparent;
            font-size: 23px;
            float: right;
        }
    }
    
    ion-content {
        .scroll-content {
            padding: 10px !important;
            
            .photo-detail {
                h3 {
                    font-weight: bold;
                    margin-bottom: 7px;
                }

                p {
                    line-height: 22px;
                }

                video {
                    zoom: 0.5;
                }
            }
        }
    }
}
