page-discover-group {
    ion-header {
        button {
            color: white;
            font-weight: 600;
            background: transparent;
            font-size: 23px;

            &.skip-btn {
                margin-top: 5px;
                float: left;
            }

            &.add-btn {
                float: right;
            }
        }

        ion-toolbar {
            padding: 10px 15px;

            .searchbar-input {
                background: white !important;
            }
        }
    }

    .adjust-to-search {
        margin-top: 50px;
    }

    .trips {
        .card {
            border-radius: 0
        }
        .trip {
            overflow: hidden;
    
            .background {
                background-size: 100% auto;
                background-position: center;
        
                .background-filter {
                    height: 16rem;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .group-title {
                        padding-top: 7px;
                        padding-bottom: 10px;
                        text-align: center;
                        background: #0000007a;
                        width: 100%;
                        color: white;

                        h6 {
                            margin: 0;
                        }

                        p {
                            margin-bottom: 0;
                            margin-top: 0px;
                            font-size: 10px;
                            letter-spacing: 0px
                        }
                    }
                }
            }

            .group-nav-wrapper-1 {
                display: flex;
                border-bottom: 1px solid #666666;
                flex-direction: row;

                div {
                    text-align: center;
                    flex: 1;
                    padding-bottom: 9px;
                    padding-top: 9px;
                }
            }

            .group-nav-wrapper {
                display: flex;
                justify-content: space-between;
                padding-bottom: 9px;
                padding-top: 9px;
                border-bottom: 1px solid #666666;
                
                .member-icon {
                    margin-left: 3px;
                }

                div {
                    justify-content: center;
                    display: flex;
                    align-items: center;

                    .group-owner-image {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 1px solid #666666;
                        margin-right: 5px;
                    }

                    .text-grey {
                        margin-right: 10px;
                        font-size: 25px;
                    }
                }
            }

            .group-nav-wrapper:last-child {
                border-bottom: none;
            }
        }

        .pendding {
            color: white;
            background: #999999;
        }
    }

    .no-group {
        
    }
}
