<ion-header>
  <ion-navbar hideBackButton="true" *ngIf="pageKind == 'own'">
    <ion-title>MY PROFILE</ion-title>
    <button class="skip-btn edit-btn" (click)="goToEdit()"><ion-icon ios="ios-create" md="md-create"></ion-icon></button>
  </ion-navbar>
  <ion-navbar *ngIf="pageKind == 'other'">
    <ion-title>PROFILE</ion-title>
    <!-- <button class="skip-btn edit-btn"><ion-icon name="more"></ion-icon></button> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="profile-bg"></div>
  <div id="content">
    <div id="profile-info">
      <img id="profile-image" [src]="profile.avatar">
      <h3 id="profile-name">{{profile.name}}</h3>
      <div class="btn-wrapper" *ngIf="pageKind == 'own'">
        <button ion-button color="primary" (click)="goToMyGroupList('own')" outline>MY GROUPS</button>
        <button ion-button color="primary" (click)="goToMyGroupList('joined')">JOINED GROUPS</button>
      </div>
      <div class="btn-wrapper" *ngIf="pageKind == 'other'">
        <button ion-button color="primary" (click)="goToOtherGroupList('own')" outline>HIS/HER GROUPS</button>
        <button ion-button color="primary" (click)="goToOtherGroupList('joined')">JOINED GROUPS</button>
      </div>
      <div class="desc-wrapper">
        <div class="desc-content">
          <p ion-text class="text-grey"><ion-icon name="calendar" color="primary"></ion-icon>{{profile.created_at}}</p>
          <p ion-text class="text-grey location" style="margin-left: 2px;"><ion-icon name="pin" color="primary"></ion-icon>{{profile.location}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="border-bottom no-paddingT description no-paddingB" padding>
    <p ion-text>{{profile.description}}</p>
  </div>

  <div class="border-bottom no-paddingT no-paddingB" *ngIf="pageKind == 'other'">
    <button ion-button icon-start block color="black" class="no-round" tappable (click)="activity()" style="height: 30px;">
      ACTIVITY
    </button>
  </div>
  
  <div *ngIf="pageKind == 'own'">
    <ion-list-header>
      General
    </ion-list-header>
    <ion-item>
      <ion-icon name='keypad' item-start></ion-icon>
      <ion-label (click)="goToJoinRequest()">JOIN REQUESTS ({{requestNum}})</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="label" (click)="goToRequestSent()"> REQUESTS SENT ({{requestSentNum}})</ion-label>
      <ion-icon name='jet' item-start></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name='power' item-start></ion-icon>
      <button ion-button (click)="logOut()" item-end>
      LOGOUT
      </button>
    </ion-item>
  </div>

  <div class="border-bottom description no-paddingB" padding *ngIf="pageKind == 'other'">
    <ul class="highlight no-marginT">
      <li class="marginB-16px" *ngFor="let log of userLogList">
        <span>{{profile.name}} {{log.meta.description}}</span>&nbsp;<span ion-text color="primary">{{log.meta.name.toUpperCase()}}</span>
      </li>
    </ul>
  </div>
</ion-content>
